
@model IEnumerable<PruebaGit.Web.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row justify-content-center">
        
            <div class="col-md-10">
                <div class="card py-2">
                    <div class="card-header">
                        <h4>
                            Lista de Usuarios
                        </h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-sm" >
                            <tr>
                                <td>Item</td>
                                <td>Usuario</td>
                                <td>Email</td>
                                <td>Agregamos rol</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
</div>

