@model IEnumerable<PruebaGit.Web.Models.ApplicationUser>
@{
    ViewBag.Title = "AddRoles";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card py-2">
                <div class="card-header bg-info">
                    <h2>Lista de usuarios</h2>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <tr>
                            <td>Item</td>
                            <td>UserName</td>
                            <td>Email</td>
                            <td>Add Rol</td>
                        </tr>
                        @{ 
                            int count = 1;
                        }
                        @foreach (var item in Model)
                        {
                                <tr>
                                    <td>@count</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td><a href="@Url.Action("Addroles","Roless",new { id = item.Id })">ADD</a></td>
                                </tr>
                            count++;
                        }
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>

