@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <h3 class="text-center text-light">Bienvenidos a nuestra pagina oficial de Hospital Express</h3>@*------------------------------------------------------------------MISION----------------------------------------------*@
    <div class="card">
        <div class="card-body">
            <h1 class="card-title btn-outline-info text-center">Misión</h1>
            <a href="#" class="btn btn-outline-info">

                <p class="lead text-dark text-justify">
                    Colaborar para mejorar la salud y la calidad de vida de los ciudadanos, ofertando servicios sanitarios excelentes, con el paciente como centro de nuestra atención, y profesionales altamente cualificados, en un hospital privado con vocación docente e investigadora.
                    Asegurar la máxima colaboración e integración con la administración pública, con atención primaria y los servicios socio-sanitarios, las compañías aseguradoras y el Grupo Quironsalud, promoviendo un beneficio mutuo y sostenible para toda la sociedad.
                </p>
            </a>
        </div>
    </div>
    @*------------------------------------------------------------------VISION----------------------------------------------*@
    <div class="card mt-5">
        <div class="card-body">
            <h1 class="card-title btn-outline-info text-center">Visión</h1>
            <a href="#" class="btn btn-outline-info">

                <p class="lead text-dark text-justify">
                    Liderar la Transformación del Sistema Sanitario actual para asegurar su sostenibilidad, promoviendo la innovación e incorporando las nuevas tecnologías disponibles.
                    Ser reconocidos como referentes a nivel nacional e internacional, desde la perspectiva asistencial, docente e investigadora.
                </p>
            </a>
        </div>
    </div>

    @*------------------------------------------------------------------VALORES----------------------------------------------*@
    <div class="card mt-5">
        <div class="card-body">
            <h1 class="card-title btn-outline-dark text-center">Valores</h1>
            <a href="#" class="btn btn-outline-info">
                <p class="lead text-dark text-justify">
                    Nuestros valores son los pilares que sustentan nuestra forma de actuar, trabajar y hacer las cosas. Dicen cómo somos hoy y cómo vamos a ser en el futuro. Hablan sobre nuestra manera de entender la salud y nuestra relación con las personas.
                    Nos hacen diferentes y únicos. Son nuestra identidad:
                <p class="letras">Las personas, Trabajo en equipo, Pasion por la labor, Profesionalismo,Humanidad.<p>
                </p>
            </a>
        </div>
    </div>
</div>
  

        <div class="col-md-2">
            <div class="card bg-dark">
                <div class="card-body btn btn-outline-light">
                    <h6 class="text-left mt-3 text-center">Colaboradores </h6>
                    <hr />
                    <h6>Daniel Vargas</h6>
                    <h5>
                        <a href="https://www.facebook.com/www.danielvargas21/"><i class="fab fa-facebook text-primary"></i></a>
                        <a href="#"><i class="fab fa-instagram text-danger"></i></a>
                        <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp text-success "></i></a>
                        <a href="https://github.com/Danielv210796"><i class="fab fa-github text-warning"></i></a>
                    </h5>

                    <h6>Carlos Gomez</h6>
                    <h5>
                        <a href="https://www.facebook.com/cagc799/"><i class="fab fa-facebook text-primary"></i></a>
                        <a href="#"><i class="fab fa-instagram text-danger"></i></a>
                        <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp text-success "></i></a>
                        <a href="https://github.com/CarlosAlb7"><i class="fab fa-github text-warning"></i></a>
                    </h5>


                    <h6>Abraham Mena</h6>
                    <h5>
                        <a href="https://www.facebook.com/abraham.rome"><i class="fab fa-facebook text-primary"></i></a>
                        <a href="#"><i class="fab fa-instagram text-danger"></i></a>
                        <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp text-success "></i></a>
                        <a href="https://github.com/abraham22rodriguez"><i class="fab fa-github text-warning"></i></a>
                    </h5>
                </div>
            </div>
        </div>
        </div>
    </div>


